<mat-card class="card">
  <mat-card-content>
    <div class="row" >
       <div class="col">
        <mat-card class="card-content">
          <mat-card-header>
            <h1>Register</h1>
          </mat-card-header>
          <mat-card-content>
            <form class="example-form" [formGroup]="formLogin">
              <mat-form-field class="card-inputs">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" 
                       matTooltip="only domain `.com`"
                       placeholder="Ex. pat@example.com">
                <mat-error >
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="card-inputs">
                  <mat-label>Password</mat-label>
                  <input type="text" matInput formControlName="password"
                         matTooltip="Min, 6.characters" 
                         placeholder="Min, 6.characters">
                  <mat-error >
                    Key is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          </form>
          </mat-card-content>
          <mat-card-footer>
             <button style="width: 100%;" mat-raised-button color="primary" type="submit" value="Submit" (click)="onSubmit()" [disabled]="formLogin.invalid"> Register</button>
          </mat-card-footer>
         </mat-card>
       </div>
    </div>
  </mat-card-content>
</mat-card>

