h1{
    font-weight: 900;
}
.card{
    box-shadow: inset 0px 2px 4px 1px rgb(201, 201, 201);
}
.card-content{
    width: 50%;
    margin: 7px 26%;
    text-align: center;
    box-shadow:  0px 2px 4px 2px rgb(201, 201, 201);
}
.card-inputs{
    margin: 20px 25px;
}