
<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     <div class="row">
        <div class="col py-3">
            <span id="navbar-header" class="navbar-brand">My MiniStore</span>
            <button id="button-navbar" mat-icon-button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <mat-icon id="button-menu">menu</mat-icon>
            </button>
        </div>
     </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="link" mat-flat-button id="button-header" routerLink="/Home/products"><mat-icon>home</mat-icon><span>Home</span></a>
            <a class="link" mat-flat-button id="button-header" routerLink="/Products" ><mat-icon>favorite</mat-icon><span>Products</span></a>
            <a *ngIf="validmaster" class="link" mat-flat-button id="button-header" routerLink="/Adminpage/dataproduct/productsadmin"><mat-icon>settings</mat-icon><span>Admin</span></a>
            <a *ngIf="faultLogin" class="link" mat-flat-button id="button-header" routerLink="/Cart" ><mat-icon>add</mat-icon><span>Cart </span></a>
           
        </div>
      </div>
      <div  class="d-flex" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a *ngIf="validLogin" class="link" mat-stroked-button routerLink="/Login" ><mat-icon>settings</mat-icon><span style="font-weight: 900;"> | Login | </span></a>
            <a *ngIf="faultLogin" class="link" mat-stroked-button (click)="logout()" ><mat-icon>open_in_new</mat-icon><span style="color: rgb(63, 63, 63);">| Logout |</span></a>
            <a *ngIf="validLogin" class="link" mat-stroked-button routerLink="/Register" ><mat-icon>settings</mat-icon><span style="font-weight: 900;"> | Register | </span></a>
        </div>
      </div>
    </div>
  </nav>

