.card{
    box-shadow: inset 0px 2px 4px 1px rgb(201, 201, 201) ;
}
mat-card-content{
    text-align: center;
}
h1{
    font-weight: 900;
    font-size: 40px;
    color: rgb(71, 71, 71);
}
p{
   font-size: 15px;
   color: rgb(160, 160, 160);
}