<mat-card class="card">
    <mat-card-content>

        <div class="row">
            <div class="col">
        
                <mat-card>
                    <mat-card-header>
                        <h2>Productos</h2>
                    </mat-card-header>
                    <mat-card-content>
                             <table mat-table [dataSource]="data" class="mat-elevation-z8">
                
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>ID </th>
                                     <td mat-cell *matCellDef="let element"> {{element.Product.id}} </td>
                                </ng-container>
                
                                   <ng-container matColumnDef="product">
                                       <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                       <td mat-cell *matCellDef="let element"> {{element.Product.product}} </td>
                                    </ng-container>
                
                            <!-- Cost Column -->
                                    <ng-container matColumnDef="cost">
                                        <th mat-header-cell *matHeaderCellDef>Cost + Offer </th>
                                         <td mat-cell *matCellDef="let element"> {{element.totalcost |currency}} </td>
                                    </ng-container>
                           <!-- Offer Column -->
                                    <ng-container matColumnDef="ofert">
                                        <th mat-header-cell *matHeaderCellDef>Offer </th>
                                         <td mat-cell *matCellDef="let element"> {{element.Product.ofert}}% </td>
                                    </ng-container>
                
                            <!-- Image Column -->
                                    <ng-container matColumnDef="image">
                                        <th mat-header-cell *matHeaderCellDef>Image </th>
                                         <td mat-cell *matCellDef="let element"><img style="height: 90px;" src="{{element.Product.img}}" alt=""></td>
                                
                                    </ng-container>
                
                            <!-- Quantity Column -->
                                    <ng-container matColumnDef="Quantity">
                                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                        <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
                                    </ng-container>

                             <!-- totalcost Column -->
                             <ng-container matColumnDef="TotalCost">
                                <th mat-header-cell *matHeaderCellDef>Total Cost </th>
                                <td mat-cell *matCellDef="let element">{{element.totalcost * element.cantidad |currency}}</td>
                                    
                            </ng-container>
                
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                             </table>
                            <div class="row">
                                <div class="col">
                                    <div class="total-content">
                                        <p>TOTAL : {{total | currency}}</p>
                                    </div>
                                </div>
                            </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>